*pyc
*swp
*egg
*egg-info
.DS_Store

#docs
build
_build
make.bat

#vs code
.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py

# testing
tests/unit_tests/pbs_test_output_files
tests/unit_tests/simulation/test_output_files
htmlcov
.coverage
cov.xml

#examples
examples/*/Flow*
examples/*/*/Flow*
examples/*/*/geom*
examples/*/geom*

*pbs
*log
fun3d.nml_*
*solb
*out
*dat
*.forces
*.grid_info
*szplt
*meshb
*.flow
*.trace
moving_body.input_*
*.restart
*.mapbc
*.ugrid
*.names
*.tec
sfe.cfg_*

.venv
